
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/docker-compose.yaml
/public/bundles/
/var/
/vendor/
/.idea/
composer.lock
src/Migrations/
###< symfony/framework-bundle ###
/.idea
/composer.lock
/symfony.lock
###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
composer.lock
symfony.lock
.DS_Store
src/.DS_Store
src/Entity/.DS_Store

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
