.headerHeight {
    height: 50px
}

.text-white {
    color: white;
}

body {
    background-color: #595c5f !important;
}

.landingpageCard {
    background-color: transparent !important;
    border: none !important;
    color: white !important;
}

.bg-blue {
    background-color: blue
}

.bg-red {
    background-color: red;
}

.bg-yellow {
    background-color: yellow;
}

.bodyHeight {
    height: calc(100vh - 50px);
}

.hw-100 {
    height: calc(100% - 50px);
    width: calc(100% - 50px);
}

#securityContent{
    align-items: center;
}

#securityCard{
    border-radius: 0;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    width: 37.5rem;
    min-height: 30.5rem;
}

.date {
    font-size: 10px;
    float: right;
}

#username {
    height: 50px;
    margin-left: 20px;
}

#text {

}
.entryCard {
    min-height: 100px;
}

#userpicpost {
    height: 50px;
    float: left;
    width: 50px;
}


@media (max-width: 640px){
    #securityCard{
        width: 100%;
        margin: 0 auto 4.5rem;
        min-height: unset;
    }

    #securityCard div h1 {
        font-size: 30px;
    }
}

#securityCardBody{
    padding: 2.25rem 5rem;
}

@media (max-width: 640px){
    #securityCardBody{
        padding: 1.5rem 0.75rem;
    }
}

#securityFooter{
    position: fixed;
    bottom: 0;
}

.securityFormLinks {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

input{
    width: 398px;
    height: 38px;
}