.headerHeight {
    height: 50px
}

.text-white {
    color: white;
}

.bodyColor {
    background-color: #595c5f;
}

.bg-blue {
    background-color: blue
}

.bg-red {
    background-color: red;
}

.bg-yellow {
    background-color: yellow;
}

.bodyHeight {
    height: calc(100vh - 50px);
}

.testColor {
    background-color: red !important;
}