.headerHeight {
    height: 50px
}

.text-white {
    color: white;
}

body {
    background-color: #595c5f !important;
}

.landingpageCard {
    background-color: transparent !important;
    border: none !important;
    color: white !important;
}

.bg-blue {
    background-color: blue
}

.bg-red {
    background-color: red;
}

.bg-yellow {
    background-color: yellow;
}

.bodyHeight {
    height: calc(100vh - 50px);
}

.hw-100 {
    height: calc(100% - 50px);
    width: calc(100% - 50px);
}