<div class="card mt-5">
    {{ form_start(form ,{'class': 'feed-form'}) }}
    <div class="m-0">
        <div class="input-group">
            {{ form_widget(form.body) }}
            {{ form_widget(form.media) }}
        </div>
        <div class="form-group text-right m-0" id="registerButton">
            <button class="btn btn-primary" type="submit" name="action">posten</button>
        </div>
    </div>
    {{ form_end(form) }}

</div>