{% extends 'index.html.twig' %}

{% block feed %}
     {% for entry in entries %}
          <!-- todo remove inline style-->
          <div class="media" style="border: black 2px">
               <a class="media-left" href="#fake">
                    <img id="userpicpost" alt="" class="media-object img-rounded" src="#">
               </a>
               <div class="media-body">
                    <h4 class="media-heading" id="Username">{{ entry.author.username }}</h4>
                    <p id="Text">{{ entry.body }}</p>
                    {% if entry.media %}
                         <p id="media">{{ entry.media }}</p>
                    {% endif %}
{#                    {% if(data.LinkId is not same as(null)) %}#}
{#                         <iframe id="yt" width="400" height="200" src="https://www.youtube.com/embed/{{ data.LinkID }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                    {% endif %}#}
               </div>
          </div>
     {% endfor %}
{% endblock %}