    <html lang="en">
    <html>
    <head>
        {{ include('./service/head.html.twig') }}
        <title>{% block title %}Anti-Social-Network{% endblock %}</title>
    </head>
    <body id="body">
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}

    {% block scripts %}
    {{ include('./service/scripts.html.twig') }}
    {% endblock %}
    </body>
    </html>