    <html lang="en">
    <html>
    <head>
        <meta charset="UTF-8">

        {{ include('./service/head.html.twig') }}
        <title>{% block title %}Anti-Social-Network{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <a class="navbar-brand text-white" href="/">Anti Social Network</a>
                <div class="ml-auto">
                    <a class="" href="/login">Login</a>
                    <a class="" href="/register">Register</a>
                </div>
            </nav>
        {% endblock %}
        {% block content %}
            <div class="bodyColor bodyHeight">
                <div class="row">
                    <div class="col-sm-3 bodyHeight bg-red">
                    </div>
                    <div class="col-sm-6 bodyHeight bg-blue">
                        {% block feed %}{% endblock %}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="media">
                                    <!--Inputs-->
                                    <a class="media-left" href="#fake">
                                        <img id="userpictext" alt="" class="media-object img-rounded" src="">
                                    </a>
                                </div>
                                <hr>
                            </div>
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 bodyHeight bg-yellow">

                    </div>
                </div>
            </div>
        {% endblock %}

        {% block flashMessages %}{% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
             {{ include('./service/scripts.html.twig') }}
        {% endblock %}
    </body>
    </html>