{% extends 'base.html.twig' %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand text-white" href="{{ path('index') }}">Anti Social Network</a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="ml-auto">
                <a class="" href="{{ path('feed') }}">Feed</a>
            </div>
        {% endif %}
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row hw-100">
            <div class="col-md-12 mt-5">
                <div class="card landingpageCard " id="securityCard">
                    <div class="card-header border-0 text-center" style="background-color: transparent">
                        <img src="{{ asset("../images/thumbs-down.png") }}">
                    </div>
                    <div class="card-body text-center" id="securityCardBody">
                        <h1>We hate everyone!</h1>
                        <h3>you too?</h3>
                        <h6>Maybe you want to try <a class="" href="/register">this</a> then</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}