{% extends "index.html.twig" %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="#"><img id="profileImage" class="img-responsive" alt="" src="#"></a>
            <div class="row">
                <div class="col-xs-3">
                    <h5>
                        <small>Dislikes</small>
                        <a href="#">1,546</a>
                    </h5>
                </div>
                <div class="col-xs-4">
                    <h5>
                        <small>Posts</small>
                        <a href="#">251</a>
                    </h5>
                </div>
                <div class="col-xs-5">
                    <h5>
                        <small>FOLLOWERS</small>
                        <a href="#">153</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}